# standard reporting unit for land use areas
area_units: ha
# number of days per year in calculations (365.25 is default)
days_per_year: 365.25
# set the discount rate (must be between 0 and 1)
discount_rate: 0.03
# set the mass reporting unit for emissions
emissions_mass: MT
# set the reporting units for energy demand (kJ, MJ, GJ, PJ, TJ)
energy_units: PJ
# set the units for energy demands in NemoMod (kJ, MJ, GJ, PJ, TJ) - these should be of reasonable scale to power units to enable good numerical solutions
energy_units_nemomod: PJ
# set the global warming potential (20, 100, 500)
global_warming_potential: 100
# if back-projecting solid waste, set the number of periods to back project
historical_back_proj_n_periods: 10
# method for accounting for harvested wood products before the model period
historical_harvested_wood_products_method: back_project
# method for accounting for solid waste disposal before the model period
historical_solid_waste_method: back_project
# approach to use for "maxing out" transition probabilities for land use classes that transition into pasture and cropland states. Acceptable options are "decrease_only", "increase_only", or "decrease_and_increase". See the SISEPUEDE documentation for additional information.
land_use_reallocation_max_out_directionality: decrease_only
# length units for reporting
length_units: km
# monetary units for output
monetary_units: mm_usd
# nemomod solver to use. Acceptable values are: cbc, clp, cplex, glpk, gurobi (Note: if specifying CPLEX or Gurobi, ensure access to the solver/license)
nemo_mod_solver: clp
# time periods to run for NemoMod. Either 'all' or pipe-delimited values (e.g., 0|1|2|...)
nemo_mod_time_periods: all
# power units in NemoMod (MW, GW)
power_units: GW
# region (defined in attribute_cat_region.csv) to run - set to "all" to run all, or separate with pipes (|) to create a list
region: costa_rica
# units for reporting volumes (like wastewater)
volume_units: m3
